<div class="table-container">
  <div class="data-container">
    <p-table
      class="data-table"
      [columns]="headers"
      [value]="paramsTemporal"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10]"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header" let-columns>
        <tr class="table-header-row" style="width: 200px; height: 70px">
          <th
            *ngFor="let column of columns"
            class="table-header"
            (contextmenu)="menu.show($event)"
          >
            {{ column.header }}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item let-columns="columns">
        <tr
          class="table-body-row"
          [class.selected]="selectedTable.includes(item)"
          (click)="onselectedTable($event, item)"
          style="width: 200px; height: 70px"
        >
          <td
            *ngFor="let header of columns"
            class="table-data"
            (contextmenu)="onContextMenu($event, item)"
            style="width: 200px; height: 70px"
          >
          <!-- opcional que clickes -->
          <ng-container *ngIf="header.field === 'favourite' && item.favourite !== null && item.favourite !== undefined; else regularCell">
            <i 
              (click)="toggleFavorite(item); $event.stopPropagation()"  
              [ngClass]="item.favourite ? 'pi pi-star-fill' : 'pi pi-star'"
              tabindex="-1"
            ></i>
          </ng-container>
            <ng-template #regularCell>
              <span>{{ item[header.field] ?? "&nbsp;" }}</span>
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-contextMenu
      [model]="items"
      [baseZIndex]="1000"
      [appendTo]="'body'"
      #menu
    ></p-contextMenu>
  </div>
</div>
